{% extends "index.html" %} {% block content %}
<section id="editItem" class="edit_item">
    <div class="section-content container padding-1-5">
        <h1>Edit Item</h1>
        <form action="{{url_for('editItem', catagory_name=catagory_name, item_name = item.name)}}" method="post" class="col-md-10 padding-top-10">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" maxlength="250" name="name" value="{{item.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" class="form-control" maxlength="250" cols="30" rows="3">{{item.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="current-picture">Picture:</label>
            </div>
            <div class="form-group">
                <img src="{{item.image_url}}" alt="{{item.image_url}}" id="current-picture" class="img-thumbnail">
            </div>
            <div class="form-group">
                <label for="image_url">Picture URL:</label>
                <input type="url" class="form-control" id="image_url" maxlength="250" name="image_url" placeholder="{{item.image_url}}" value="{{item.image_url}}">
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary">Save</button>
                <a href="{{url_for('showCategory', catagory_name=catagory_name)}}">
                    <button type="button" class="btn btn-danger">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}