{% extends "catagories.html" %}

{% block items %}

<!-- Page Content -->


    <h4>{{catagory_name}} > Items (<strong>{{count}}</strong>)</h4>
    <hr>
                {% for i in items %}
                <div class="main_heading">
                    <a href="{{url_for('showItem',catagory_name=catagory_name, item_id = i.id)}}">
                        <h4>{{ i.name }}</h4>
                    </a>
                </div>
                {% endfor %}
    <!-- /.container -->

<!-- /.section -->

{% endblock %}